::ng-deep {

  .mat-mdc-slider-thumb-label {
    transform: rotate(45deg) !important;
    border-radius: 50% 50% 0 !important;
  }

  .mat-mdc-slider-thumb {
    transform: scale(0) !important;
  }

  .mat-mdc-slider-thumb-label-text {
    opacity: 1 !important;
  }

}
