
<div class="component-floating-actions vertical-actions">
  <button mat-fab color="primary" aria-label="New CBU" matTooltip="New CBU" routerLink="/cbu/add">
    <mat-icon>add</mat-icon>
  </button>
</div>
<div class="content">
<div class="inner-content">
  <mat-card [ngClass]="{ 'hidden': isLoading }">
      <mat-card-content fxLayout="column" >
        <app-data-table
        [isLoading]="isLoading"
        [dataSource]="dataSource"
        [columnDefs]="appConfig.config.tableColumns.cbu"
        [total]="total"
        (pageChange)="pageChange($event)"
        (sortChange)="sortChange($event)"
        (filterChange)="filterChange($event)"
        ></app-data-table>
      </mat-card-content>
  </mat-card>
  </div>
</div>
