<div class="component-floating-actions vertical-actions">
  <button mat-fab color="primary" aria-label="New model" matTooltip="New model" routerLink="/model/add">
    <mat-icon>add</mat-icon>
  </button>
</div>
<div class="content">
  <div class="inner-content">
    <div fxFlex="column">
      <div fxLayout="column" fxLayout.gt-xs="row" fxLayoutGap="16px">
        <div fxLayout="column" fxFlex.gt-xs="33.33" fxFlex="100">
            <mat-form-field
                appearance="outline"
                fxFlex="100"
                class="cell"
                floatLabel="auto">
                <input
                  matInput
                  [(ngModel)]="filterKeywords"
                  (keydown.enter)="getPaginated()"
                  placeholder="Search model name or description"
                />
            </mat-form-field>
        </div>
      </div>
      <ng-container *ngIf="dataSource.data?.length > 0; else showPlaceholder">
        <div fxLayout="row wrap" class="card-view" fxLayoutAlign="start stretch" [cdkDropListDisabled]="isLoading"
          cdkDropList cdkDropListOrientation="mixed" (cdkDropListDropped)="drop($event)">

          <div class="card-holder" fxFlex="50%" fxFlex.gt-xs="33.33%" fxFlex.gt-sm="25%" fxFlex.gt-md="20%"
            fxFlex.gt-lg="16.66%" *ngFor="let item of dataSource.data" cdkDrag>
            <mat-card [ngClass]="{ 'is-loading': isLoading }">
              <mat-card-header>
                <mat-card-title><a routerLink="/model/{{item.modelId}}"><strong>{{ item.modelName
                      }}</strong></a></mat-card-title>
              </mat-card-header>
              <div class="card-image">
                <img mat-card-image routerLink="/model/{{item.modelId}}" src="{{item.thumbnailUrl}}"
                  (error)="pictureErrorHandler($event)" width="600" alt="Model image" />
              </div>
              <mat-card-content>
                <p class="desc">{{ item.description }}</p>
                <p><strong>Units:</strong> {{ item.unitCount }}</p>
              </mat-card-content>
              <mat-card-actions>
                <button color="accent" routerLink="/model/{{item.modelId}}" mat-button>View Details</button>
              </mat-card-actions>
            </mat-card>
          </div>

        </div>
      </ng-container>
      <!-- Placeholder when list is empty -->
      <ng-template #showPlaceholder>
        <div class="card-view" fxLayout="column" fxLayoutAlign="center center" style="height: 300px;">
          <mat-icon style="font-size: 3rem; color: #ccc;width: auto;height: auto;">library_books</mat-icon>
          <p style="color: #888;">No model available.</p>
        </div>
      </ng-template>

      <mat-paginator [length]="total" [pageSizeOptions]="[12, 50, 100]" [pageSize]="pageSize"
        (page)="onPageChange($event)">
      </mat-paginator>

    </div>
  </div>
</div>
