<div class="top-header mat-elevation-z4">
  <mat-toolbar color="primary">
    <img id="banner" routerLink="/" src="../../../assets/img/logo.png">
    <span class="toolbar-item-spacer"></span>
    <span [style.cursor]="'pointer'" routerLink="/auth/admin">Login</span>
  </mat-toolbar>
</div>

<div class="page-wrapper" style="overflow: hidden!important;height: 100%!;">
  <div class="page-container container-center">
    <div class="not-found">
      <span>Sorry, You Are Not Allowed to Access This Page</span>
      <a [href]="url">
        <h4 style="text-align: center;">
          <p>{{host + url}}</p>
        </h4>
      </a>
      <h3 style="text-align: center;">
        <p>{{page}}</p>
      </h3>
    </div>
  </div>
</div>
