
<div class="notification-panel">
  <div class="notification-panel-content">
    <h3 class="notification-title">Notifications</h3>
    <div class="notification-list" *ngIf="notifcations.length > 0; else nothing">
      <a mat-button class="notification-item" (click)="onNotificationItemClick(notification)" [ngClass]="{ 'isRead': notification.isRead }" *ngFor="let notification of notifcations">
        <h4 class="notification-item-title">{{notification.title}}</h4>
        <h4 class="notification-item-desc">{{notification.description}}</h4>
        <h5 class="notification-item-time" >{{dateAgo(notification.date)}}</h5>
      </a>
      <a mat-button class="notification-item" *ngIf="notifcations.length < total">
        <h5 class="notification-item-title" (click)="loadMore()">Load more</h5>
      </a>
    </div>
    <ng-template #nothing>
      <div class="notification-list">
        <div fxFlex="100" fxLayout="column" fxLayoutAlign="center center">
          <span style="padding: 10px;box-sizing: border-box;">No notifications to show</span>
        </div>
      </div>
    </ng-template>

  </div>
</div>
