<div class="top-header" id="top-header">
  <mat-toolbar color="primary">
    <img id="banner" src="../../../assets/img/logo.png">
    <span class="toolbar-item-spacer"></span>
    <span [style.cursor]="'pointer'" routerLink="/auth">Login</span>
  </mat-toolbar>
</div>

<div class="page-wrapper">
  <div class="page-container container-center">
    <div class="not-found">
      <span>404</span>
      <span class="border">|</span>
      <span>This page could not be found</span>
    </div>
  </div>
</div>
