
<h4 mat-dialog-title>Update password</h4>

<div mat-dialog-content>
  <div fxFlex="100" class="content-inner" fxLayout="column">
    <form
      [formGroup]="changePasswordForm"
      fxLayout="row wrap"
      id="changePasswordForm"
      (ngSubmit)="onSubmitChangePassword()">
      <fieldset fxFlex="100" fxLayout="column" style="gap: 16px">
        <mat-form-field
          appearance="outline"
          fxFlex="100">
          <mat-label>New Password</mat-label>
          <input
            matInput
            #password
            type="password"
            placeholder="New Password"
            formControlName="password"
            name="password"
            role="presentation"
            autocomplete="new-password"
          />
          <mat-icon
            class="icon-right"
            (click)="
              password.type =
                password.type === 'password' ? 'text' : 'password'"
            style="cursor: pointer"
            matSuffix>{{
              password.type === "password"
                ? "visibility"
                : "visibility_off"
            }}</mat-icon>
          <mat-error
            *ngIf="getError('password') !== (null || undefined)">{{
              (getError("password") && getError("password").required
                ? "Please enter new password"
                : "") ||
                (getError("password") && getError("password").minlength
                  ? "Please enter atleast 6 charcters"
                  : "") ||
                (getError("password") && getError("password").maxlength
                  ? "Only maximum of 16 characters are allowed"
                  : "")
            }}</mat-error>
        </mat-form-field>
        <mat-form-field
          appearance="outline"
          fxFlex="100">
          <mat-label>Confirm Password</mat-label>
          <input
            matInput
            type="password"
            #confirmPassword
            placeholder="Confirm password"
            formControlName="confirmPassword"
            name="confirmPassword"
            [errorStateMatcher]="matcher"
            role="presentation"
            autocomplete="new-confirmPassword"/>
          <mat-icon
            class="icon-right"
            (click)="
              confirmPassword.type =
                confirmPassword.type === 'password'
                  ? 'text'
                  : 'password'
            "
            style="cursor: pointer"
            matSuffix>
            {{
              confirmPassword.type === "password"
                ? "visibility"
                : "visibility_off"
            }}
          </mat-icon>
          <mat-error
            *ngIf="getError('confirmPassword') !== (null || undefined)">
            {{
              getError("confirmPassword") &&
              getError("confirmPassword").notMatched
                ? "Please confirm your password"
                : ""
            }}
          </mat-error>
        </mat-form-field>
      </fieldset>
    </form>
  </div>
</div>

<div mat-dialog-actions>
  <div>
    <button
      mat-flat-button
      cdkFocusInitial
      (click)="dialogRef.close(false)">
      Cancel
    </button>
    <button
      mat-flat-button
      [disabled]="!formIsValid || !formIsReady"
      color="primary"
      type="submit"
      form="changePasswordForm">
      Update password
    </button>
  </div>
</div>
