<mat-toolbar color="#fff" class="mat-elevation-z4">
  <span id="title">Edit Profile</span>
  <span class="toolbar-item-spacer"></span>
  <button mat-raised-button color="primary" matTooltip="Update profile" [disabled]="!formIsReady && !formIsValid"
    form="profileForm" type="submit">
    Update profile
  </button>
</mat-toolbar>
<div class="content">
  <div class="inner-content">
    <mat-card>
      <mat-card-content>
        <div fxFlex="100" class="content-inner" fxLayout="column">
          <form [formGroup]="profileForm" fxLayout="row wrap" id="profileForm" (ngSubmit)="onSubmitUpdateProfile()"
            [ngClass]="{'readonly' : isReadOnly}">
            <fieldset fxFlex="100" fxLayout="row wrap" style="row-gap: 16px">
              <div fxFlex="100" fxLayout="column" fxLayout.gt-sm="row" style="gap: 16px"><mat-form-field
                  appearance="outline" fxFlex.gt-xs="50%" fxFlex="100" class="cell"
                  [ngClass.gt-sm]="{ isLargeScreen: true }">
                  <mat-label>First name</mat-label>
                  <input matInput placeholder="Name" formControlName="firstName" />
                  <mat-error *ngIf="getError('firstName') !== (null || undefined)">{{
                    (getError("firstName") &&
                    getError("firstName")["required"]
                    ? "Please enter first name"
                    : "") ||
                    (getError("firstName") &&
                    getError("firstName")["pattern"]
                    ? "Invalid input"
                    : "")
                    }}</mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline" fxFlex.gt-xs="50%" fxFlex="100" class="cell"
                  [ngClass.gt-sm]="{ isLargeScreen: true }">
                  <mat-label>Last name</mat-label>
                  <input matInput placeholder="Last name" formControlName="lastName" />
                  <mat-error *ngIf="getError('lastName') !== (null || undefined)">{{
                    (getError("lastName") &&
                    getError("lastName")["required"]
                    ? "Please enter last name"
                    : "") ||
                    (getError("lastName") &&
                    getError("lastName")["pattern"]
                    ? "Invalid input"
                    : "")
                    }}</mat-error>
                </mat-form-field>
              </div>
              <div fxFlex="100" fxLayout="column" fxLayout.gt-sm="row" style="gap: 16px">
                <mat-form-field appearance="outline" fxFlex="50%" class="cell"
                  [ngClass.gt-sm]="{ isLargeScreen: true }">
                  <mat-label>Email</mat-label>
                  <input matInput type="email" placeholder="Email" formControlName="email"
                    (input)="profileForm.get('email').setValue($event.target.value.toLowerCase(), { emitEvent: false })" />
                  <mat-error *ngIf="getError('email') !== (null || undefined)">{{
                    (getError("email") &&
                    getError("email").required
                    ? "Please enter mobile number"
                    : "") ||
                    (getError("email") &&
                    getError("email").email
                    ? "Please enter a valid email"
                    : "")
                    }}</mat-error>
                </mat-form-field>
                <div appearance="outline" fxFlex="50%" class="cell" [ngClass.gt-sm]="{ isLargeScreen: true }"></div>
              </div>
              <div fxFlex="100" fxLayout="column" fxLayout.gt-sm="row" style="gap: 16px">
                <mat-form-field appearance="outline" fxFlex="50%" class="cell"
                  [ngClass.gt-xs]="{ isLargeScreen: true }">
                  <mat-label>Contact no.</mat-label>
                  <input matInput type="text" placeholder="Contact no." formControlName="contactNo" />
                  <mat-error *ngIf="getError('contactNo') !== (null || undefined)">{{
                    (getError("contactNo") &&
                    getError("contactNo").required
                    ? "Please enter contact no."
                    : "")
                    }}</mat-error>
                </mat-form-field>
                <div appearance="outline" fxFlex="50%" class="cell" [ngClass.gt-sm]="{ isLargeScreen: true }"></div>
              </div>
            </fieldset>
          </form>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
